{% extends 'layout.html' %}

{% block body %}
    <div class="container">
        <br><br>
        <form action="#" method="POST" enctype="multipart/form-data">
            <div class="input-group">
                <label for="formFile" class="form-label w-100">Chọn file ảnh muốn nhận diện</label>
                <input type="file" class="form-control" name="image_name" required id="formFile">
                <input type="submit" value="Tải lên" class="btn btn-outline-secondary">
            </div>
        </form>
    </div>

    {% if upload %}
        <div class="container">
            <br><br>
            <table>
                <tr>
                    <td>
                        <img class="rounded float-left img-fluid" src="/static/upload/{{ upload_image }}" alt="">
                    </td>
                    <td>
                        <img class="rounded float-right img-fluid" src="/static/detect_license_yolo/predict/{{ upload_image }}" alt="">
                    </td>
                </tr>

            </table>
            <br>
            <table style="border: solid black; width: 100%;">
                <tr style="border: solid black;">
                    <th>Tổng biển số xe xác định được = {{ no }}</th>
                </tr>

                {% for lic in text %}
                    <tr style="border: solid black;">
                        <td style="background-color: greenyellow;">
                            <p class="display-8"> {{ lic }}</p>
                        </td>
                    </tr>
                {% endfor %}

            </table>

        </div>



    {% endif %}

{% endblock %}